@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

span {
  font-family: "Roboto", sans-serif;
  color: white;
  display: inline-block;
  min-width: 47%;
}

canvas {
  display: block;
}
button {
  width: 100%;
}

.menuBtnContainer {
  flex-direction: column;
  flex-grow: 1;
  font-family: "Roboto", sans-serif;
  color: white;
}
.menuBtn {
  height: 30px;
  border: solid black 1px;
  background: rgba(247, 248, 245, 0.5);
  text-align: center;
  cursor: pointer;
}
.menuBtn:hover {
  background: rgba(100, 100, 100, 0.5);
  color: orange;
}

.container {
  position: absolute;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  left: 30px;
  top: 15px;
  background: rgba(42, 42, 42, 0.5);
  width: 200px;
  height: 350px;
}
.divider {
  flex-direction: row;
  height: 30px;
  margin: 2px;
  text-align: center;
  font-size: 14px;
}
.tabs {
  height: 30px;
}
